    body {
      cursor: url('https://ranxlus.github.io/IMG/custom-cursor.cur'), auto;
      background-image: url('https://watchmalware.github.io/Images/background.jpg'); /* Replace with the image URL */
      background-size: cover;
      margin: 0;
      font-family: 'Bangers', cursive;
    }

       .sidebar {
          cursor: url('https://ranxlus.github.io/IMG/custom-cursor.cur'), auto;
      height: 100%;
      width: 0;
      position: fixed;
      top: 0;
      left: 0;
      background-color: #333;
      padding-top: 20px;
      transition: 0.3s;
      overflow-x: hidden;
      background-size: cover;
      background-position: center;
      font-family: 'Bangers', cursive;
    }

    .sidebar h2 {
          cursor: url('https://ranxlus.github.io/IMG/custom-cursor.cur'), auto;
      color: #fff;
      text-align: center;
    }

    .sidebar ul {
          cursor: url('https://ranxlus.github.io/IMG/custom-cursor.cur'), auto;
      list-style-type: none;
      padding: 0;
    }

    .sidebar ul li {
          cursor: url('https://ranxlus.github.io/IMG/custom-cursor.cur'), auto;
      padding: 10px;
      text-align: center;
    }

    .sidebar ul li a {
          cursor: url('https://ranxlus.github.io/IMG/custom-cursor.cur'), auto;
      color: #fff;
      text-decoration: none;
    }

    .sidebar ul li a:hover {
          cursor: url('https://ranxlus.github.io/IMG/custom-cursor.cur'), auto;
      color: #ddd;
    }

    .content {
          cursor: url('https://ranxlus.github.io/IMG/custom-cursor.cur'), auto;
      margin-left: 0;
      padding: 20px;
      transition: 0.3s;
    }

    .open-btn {
          cursor: url('https://ranxlus.github.io/IMG/custom-cursor.cur'), auto;
      position: absolute;
      top: 20px;
      left: 20px;
      cursor: pointer;
      color: #fff;
    }

    .close-btn {
          cursor: url('https://ranxlus.github.io/IMG/custom-cursor.cur'), auto;
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      color: #fff;
    }

    .bottom-right {
        cursor: url('https://ranxlus.github.io/IMG/custom-cursor.cur'), auto;
      position: fixed;
      bottom: 10px;
      right: 10px;
    }

    header {
        cursor: url('https://ranxlus.github.io/IMG/custom-cursor.cur'), auto;
      background-color: #7492E3 ;
      color: white;
      text-align: center;
      padding: 20px;
    }
    h1 {
        cursor: url('https://ranxlus.github.io/IMG/custom-cursor.cur'), auto;
      font-size: 36px;
      margin: 0;
    }

 footer {
      color: white;
      text-align: center;
      padding: 10px 0;
      position: fixed;
      bottom: 0;
      width: 100%;
    }
