    body {
      background-image: url('https://ranxlus.github.io/IMG/background.jpg'); /* Replace with the image URL */
      background-size: cover;
      margin: 0;
      font-family: 'Bangers', cursive;
    }

    .sidebar {
      height: 100%;
      width: 0;
      position: fixed;
      top: 0;
      left: 0;
      background-color: #333;
      padding-top: 20px;
      transition: 0.3s;
      overflow-x: hidden;
      background-size: cover;
      background-position: center;
      font-family: 'Bangers', cursive;
    }

    .sidebar h2 {
      color: #fff;
      text-align: center;
    }

    .sidebar ul {
      list-style-type: none;
      padding: 0;
    }

    .sidebar ul li {
      padding: 10px;
      text-align: center;
    }

    .sidebar ul li a {
      color: #fff;
      text-decoration: none;
    }

    .sidebar ul li a:hover {
      color: #ddd;
    }

    .content {
      margin-left: 0;
      padding: 20px;
      transition: 0.3s;
    }

    .open-btn {
      position: absolute;
      top: 20px;
      left: 20px;
      cursor: pointer;
      color: #fff;
    }

    .close-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      color: #fff;
    }

    .bottom-right {
      position: fixed;
      bottom: 10px; /* Adjust this value to change the distance from the bottom */
      right: 10px; /* Adjust this value to change the distance from the right */
    }
